body {
    color: white;
    background-color: black;
}
.Links {
    padding: 30px;
    background-color: rgb(29, 207, 148);
    text-align: left;
}
a {
    padding: 30px;
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 22px;
}
a:hover {
    background-color: rgb(13, 255, 174);
    text-decoration: underline;
}
.Content {
    margin: auto;
    margin-top: 20px;
}

.App {
    text-align: center;
}

.Task {
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: black;
    font-size: 20px;
}
.Task .GridContainer {
    display: grid;
    grid-template-columns: auto 360px auto;
    gap: 10px;
}
form.EditTask input {
    font-size: 20px;
    outline: none;
    color: white;
    background-color: inherit;
    height: 20px;
    width: 330px;
    text-align: center;
}
.ListContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.List {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    width: 500px;
    margin: 20px;
}
.List .Header {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
.List .Header button {
    float: left;
    margin: 15px;
    width: 80px;
}
.List .Header h2 {
    width: 380px;
}
form {
    display: inline;
}
form.NewTask {
    display: block;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
input.Text {
    border: none;
    outline: none;
    color: white;
    background-color: black;
    font-size: 18px;
    width: 380px;
}
input.Submit {
    margin-left: 25px;
}
.TagContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.Tag {
    background-color: rgb(13, 255, 174);
    color: black;
    padding: 7px;
    border-radius: 15px;
    display: inline;
}
.Tag .Buttons {
    display: inline;
}
.Tag .Buttons button {
    margin: 2px;
}
.Tag span {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    font-weight: bold;
}
.TagContainer div:first-child {
    background-color: rgb(245, 233, 69);
}
form.EditTag input {
    font-size: 16px;
    border: none;
    outline: none;
    width: 100px;
    background-color: inherit;
}
.TagArea {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    min-height: 20px;
}
.TagReference {
    background-color: rgb(29, 207, 148);
    color: black;
    padding-left: 10px;
    padding-right: 8px;
    border-radius: 15px;
    font-size: 14px;
}
.TagReference button {
    size: 5px;
    font-size: 12px;
    margin-left: 3px;
    background-color: inherit;
    border-radius: 15px;
    border-width: 1px;
}
.TagReference button:hover {
    background-color: white;
}
.AddTag {
    float: left;
    width: 75px;
    margin-right: 10px;
}
.CreateItem {
    margin: 15px;
}
.CreateItem form * {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 17px;
}
.Search {
    margin: 15px;
}
.Search form * {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}
.ListDraggableContainer {
    margin: auto;
    width: fit-content;
}
.ListDraggable {
    padding: 10px;
    font-size: 20px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: black;
    /*background-color: rgb(56, 56, 56);*/
    width: 700px;
    height: 30px;
}
.ListDraggable * {
    float: left;
}
.ListDraggable button.Delete {
    float: right;
}
.ListDraggable span {
    float: none;
}
.ListDraggable button.Hide {
    width: 60px;
    margin-right: 10px;
}
.ListDraggable button {
    padding: 5px;
}
form.EditList input {
    outline: none;
    font-size: 20px;
    color: white;
    background-color: inherit;
    margin: 0 30px;
    width: 440px;
    height: 25px;
    text-align: center;
}
