/* Universal */
body {
    color: white;
    background-color: black;
    text-align: center;
}
form {
    display: inline;
}
button,
select {
    padding: 5px;
}

/* Header */
.Links {
    padding: 30px;
    background-color: rgb(29, 207, 148);
    text-align: left;
}
a {
    padding: 30px;
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 22px;
}
a:hover {
    background-color: rgb(13, 255, 174);
    text-decoration: underline;
}

/* PAGE CONTENT */

/* New tag/list entry field */
.CreateItem {
    margin: 15px;
}
.CreateItem form * {
    margin: 0 5px;
    font-size: 17px;
}

/* TASK MANAGEMENT PAGE */

/* Options button */
.OptionsButton {
    display: none;
}

/* Search field */
.Search {
    margin: 15px;
}
.Search form input {
    font-size: 20px;
}

/* Tags */
.TagContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.Tag {
    color: black;
    padding: 7px;
    border-radius: 15px;
    display: inline;
    background-color: rgb(13, 255, 174);
}
.TagContainer .Tag:first-child {
    background-color: rgb(245, 233, 69);
    height: 25px;
}
.Tag .Buttons {
    display: inline;
}
.Tag .Buttons button {
    margin: 2px;
}
.Check input {
    width: 15px;
    height: 15px;
}
.Tag span {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    font-weight: bold;
}
.EditTag {
    font-size: 16px;
    border: none;
    outline: none;
    width: 100px;
    background-color: inherit;
}

/* LISTS */
.ListContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.List {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    width: 500px;
    margin: 20px;
}
.List .Header {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
.List .Header button {
    float: left;
    margin: 15px;
    width: 80px;
}
.List .Header h2 {
    width: 380px;
}

/* New task entry */
.NewTaskForm {
    display: block;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
.NewTaskInput {
    border: none;
    outline: none;
    color: white;
    background-color: black;
    font-size: 18px;
    width: 380px;
}
.NewTaskSubmit {
    margin-left: 25px;
}

/* TASKS */
.Task {
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: black;
    font-size: 20px;
}
/* Edit button, task description and delete button: */
.Task .GridContainer {
    display: grid;
    grid-template-columns: auto 360px auto;
    gap: 10px;
    min-height: 30px;
}
.EditTask {
    font-size: 20px;
    outline: none;
    color: white;
    background-color: inherit;
    width: 330px;
    text-align: center;
}
.AddTag {
    float: left;
    width: 80px;
    margin-right: 10px;
}
/* Tags on tasks */
.TagArea {
    min-height: 30px;
}
.TaskTags {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.TagReference {
    background-color: rgb(29, 207, 148);
    color: black;
    padding-left: 10px;
    padding-right: 8px;
    border-radius: 15px;
    font-size: 14px;
}
.DeleteTagReference {
    font-size: 12px;
    margin-left: 3px;
    background-color: inherit;
    border-radius: 15px;
    border-width: 1px;
    font-weight: 600;
}
.DeleteTagReference:hover {
    background-color: white;
}

/* LIST MANAGEMENT PAGE */

/* Lists */
.ListDraggableContainer {
    margin: auto;
    width: fit-content;
}
.ListDraggable {
    display: grid;
    grid-template-columns: 60px auto 500px auto;
    gap: 10px;
    padding: 10px;
    font-size: 20px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    min-height: 30px;
    width: 100%;
}
.EditList {
    outline: none;
    font-size: 20px;
    color: white;
    background-color: black;
    text-align: center;
    width: 480px;
}

@media screen and (max-width: 800px) {
    /* Header */
    .Links {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    a {
        padding: 10px;
        font-size: 18px;
    }
    /* PAGE CONTENT */
    /* TASK MANAGEMENT PAGE */
    /* Options button */
    .OptionsButton {
        display: inline;
        margin-top: 10px;
    }
    /* Hide options initially */
    .Options {
        display: none;
    }
    /* Search field and New tag entry on the same line*/
    .SearchAndNewTag {
        display: flex;
        justify-content: center;
    }
    .Search form input {
        font-size: 17px;
        width: 175px;
    }
    .CreateItem form .TextInput {
        width: 175px;
    }
    .CreateItem form * {
        font-size: 16px;
    }
    /* Tags */
    .Tag span {
        font-size: 15px;
    }
    .EditTag {
        font-size: 15px;
    }
    /* LISTS */
    .List {
        width: 400px;
        margin: 10px;
    }
    .List .Header h2 {
        width: 280px;
    }
    .NewTaskInput {
        font-size: 16px;
        width: 290px;
    }
    /* TASKS */
    .Task {
        padding: 10px;
        font-size: 17px;
    }
    .Task .GridContainer {
        grid-template-columns: auto 270px auto;
        min-height: 20px;
    }
    .EditTask {
        font-size: 17px;
        width: 250px;
    }
    /* Tags on tasks */
    .TagReference {
        font-size: 12px;
    }
    .DeleteTagReference {
        font-size: 10px;
    }

    /* LIST MANAGEMENT PAGE */
    .ListDraggable {
        grid-template-columns: 60px auto 250px auto;
    }
    .ListDraggable span {
        font-size: 17px;
    }
    .EditList {
        font-size: 17px;
        width: 230px;
    }
}
